/*
Skin Name: Twenty-One
Skin URL: http://ceeps.blogs.tbomonline.com
Version: 0.1
Author Name: Mark Graham
Author URL: http://epsilon.blogs.tbomonline.com
*/

body {
	background:white;
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	font-size:11px;
	color:#222;
	margin:0;
	padding:0;
}
