/*
Skin Name: Blackjack Default
Skin URL: http://ceeps.blogs.tbomonline.com
Version: 0.1
Description: The default skin for Blackjack. Feel free to use this for your own skin as a base, or just to collect inspiration.
Author Name: Mark Graham
Author URL: http://epsilon.blogs.tbomonline.com
*/

html * {
	margin:0;
	padding:0;
}

body {
	background:#f3f3f3;
	font-family: Trebuchet MS, Verdana, Arial, sans-serif;
	font-size:12px;
	color:#444;
	text-align:justify;
}

	body.single-post .navigation {
		display:none;
	}

/*
 * Global text styles
 */

a:link,
a:visited,
a:active {
	color:#115488;
	text-decoration:underline;
}

a:hover {
	color:#1773ba;
}

p {
	padding:6px 0;
}

ul {
	padding:6px 0 6px 16px;
	list-style-type:square;
}

ol {
	padding:6px 0 6px 16px;
}
	

/*
 * Header
 */

#header {
	background:#115488;
	height:37px;
}

	#header .menu {
		list-style:none;
		position:absolute;
		top:16px;
		right:0;
		padding:0;
		font-size:13px;
		letter-spacing:-4px; /* Trim the little space in between them. */
	}
	
		#header .menu li {
			display:inline;
			letter-spacing:0;
		}
		
			#header .menu li a:link,
			#header .menu li a:visited,
			#header .menu li a:active {
				padding:5px;
				color:#f0f0f0;
				text-decoration:none;
			}
			
			#header .menu li a:hover {
				background:#333;
			}
			
			#header .menu li.current-section a {
				color:#222;
				background: #f3f3f3;
			}

/*
 * Headings
 */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Georgia, Times New Roman, Verdana, Arial, sans-serif;
	font-weight:normal;
}

/* Main header- controls the logo text. */
h1 {
	font-size:40px;
	line-height:35px;
	text-transform:uppercase;
}

	h1 a:link,
	h1 a:visited,
	h1 a:active {
		color:#f0f0f0;
		text-decoration:none;
	}

h2 {
	font-size:27px;
	margin-bottom:3px;
}

h3 {
	font-size:20px;
}

/*
 * Content
 */

#content {
	width:75%;
	float:right;
	padding-top:10px;
}

	#content #primary {
		padding:0 8px;
	}

/*
 * Entries
 */

.navigation {
	margin-top:5px;
}

.entry {
	padding:8px 0;
}

	.entry h3 {
		font-size:23px;
	}
	
		.entry h3 a:link,
		.entry h3 a:visited,
		.entry h3 a:active {
			color:#333;
			text-decoration:none;
		}
		
		.entry h3 a:hover {
			text-decoration:underline;
		}
	
	.entry-meta {
		font-size:11px;
	}
	
		.entry-meta a,
		.entry-meta-footer a {
			color:#666; /*Satanic reference?*/
			text-decoration:none;
		}
		
		.entry-meta .meta-date {
			background:url(images/clock.png) no-repeat center left;
			padding-left:18px;
		}
		
		.entry-meta .meta-tags {
			background:url(images/tag_blue.png) no-repeat center left;
			padding-left:18px;
			margin-left:3px;
		}
	
	.entry-content { }
		
		.entry-content a:link img,
		.entry-content a:visited img,
		.entry-content a:active img {
			border:3px solid #115488;
			padding:1px;
			margin:3px;
		}
		
		.entry-content a:hover img {
			border:4px solid #1773ba;
			padding:0;
		}
	
	.entry-meta-footer {
		text-align:right;
		background:#ebebeb;
		padding:3px;
		line-height:16px;
	}
	
		.entry-meta-footer .readmore a {
			background:url(images/book_next.png) no-repeat center left;
			padding-left:19px;
		}
		
		.entry-meta-footer .meta-comments a {
			background:url(images/comments.png) no-repeat center left;
			padding-left:19px;
			margin-left:3px;
		}
		
		.entry-meta-footer .entry-edit a {
			background:url(images/pencil.png) no-repeat center left;
			padding-left:17px;
			margin-left:3px;
		}

/*
 * Sidebar
 */

#sidebar {
	width:25%;
	background:#ebebeb;
	float:left;
	padding-top:10px;
}

	#sidebar .modules {
		padding:0 8px;
		list-style:none;
		margin:0;
	}
	
		
		#sidebar .module_flickr ul {
			list-style:none;
			padding-left:0;
			text-align:center;
		}
	
			#sidebar .module_flickr ul li a:link img,
			#sidebar .module_flickr ul li a:visited img,
			#sidebar .module_flickr ul li a:active img {
				border:3px solid #115488;
				padding:1px;
			}
			
			#sidebar .module_flickr ul li a:hover img {
				border:4px solid #1773ba;
				padding:0;
			}
		
		#sidebar .module_sidenotes ul {
			list-style:none;
			padding-left:0;
		}
		
			#sidebar .module_sidenotes ul li {
				padding-left:18px;
				padding-bottom:4px;
				background:url(images/note.png) no-repeat 0px 1px;
				font-size:11px;
				color:#555;
			}
			
				#sidebar .module_sidenotes ul li .permalink {
					display:none;
				}
				
/*
 * Archive Page
 */

#archive {
	padding:6px 0;
	font-size:13px;
}

	#archive #archive_yearly,
	#archive #archive_monthly,
	#archive #archive_entries {
		float:left;
	}
	
	#archive #archive_yearly {
		width:20%;
	}
	
	#archive #archive_monthly {
		width:30%;
	}
	
	#archive #archive_entries {
		width:50%;
	}
	
	#archive ul {
		list-style:none;
		padding:0 5px;
	}
	
		#archive ul li a:link,
		#archive ul li a:visited,
		#archive ul li a:active {
			display:block;
			padding:3px;
			margin-bottom:2px;
		}
			
		#archive ul li a:hover {
			background:#e6e6e6;
		}
		
		#archive ul li.active a {
			background:#1363a1 url(images/arrow_right.png) no-repeat center right;
			color:#f0f0f0;
		}

/*
 * Footer
 */

#footer {
	clear:both;
	text-align:center;
	padding:15px 0;
}

	#footer p {
		padding:0;
	}
	
	#footer p .rss-link {
		padding-left:16px;
		margin-left:3px;
		background: transparent url(images/rss.png) no-repeat center;
	}

/*
 * Miscellaneous
 */

.alignleft {
	float:left;
}

.alignright {
	float:right;
}

.aligncenter {
	text-align:center;
}

.feedlink {
	float:right;
	width:16px;
	height:16px;
	background: transparent url(images/feed.png) no-repeat center;
}

.clear {
	clear:both;
}

.blank {
	display:none;
}

hr {
	display:none;
}
